@import "variables", "resets", "fonts";

body {
    visibility: hidden;
}


.burger {
    background-color: #fff;
    display: flex;
    justify-content: center;

    &-menu {
        height: 50vh;
        display: flex;
        font-family: 'Charis-bold';

        div {
            align-self: center;
            flex-direction: column;
            display: flex;

            a {
                font-size: 25px;
                padding: 10px 0;
                color: $primary;
                text-decoration: none;
            }
        }
    }
}


.navbar {
    position: fixed;
    z-index: 5;

    @media (max-width:767px) {
        position: relative;
    }

}

.navbar-links {
    @include font('Charis-bold', 26px, 1px);
    text-decoration: none;
    color: $primary;
    transition: 0.5s all ease;

    &:hover {
        color: $primaryHover;
    }
}

.logo {
    img {
        width: $logoWidth/7;
        height: $logoHeight/7;

        @media (max-width:400px) {
            display: none;
        }
    }

    a {
        @include font('Charis-bold', 30px, 1px);
        text-decoration: none;
        color: $primary;
        transition: 0.5s all ease;

        &:hover {
            color: $primaryHover;
        }
    }
}

.bg-image {
    background: url(photo/signaghi3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: left center;
}

.tagline {
    user-select: none;
    width: fit-content;
    color: $primary;
    padding-bottom: 20%;

    h1 {
        @include font('Charis-bold', 70px, 5px);
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px $primary;
    }

    h3 {
        @include font('Charis-bold', 40px, 1px);
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1.3px $primary;
    }

    @media (max-width:685px) {
        padding-bottom: 40%;

        h1 {
            @include font('Charis-bold', 55px, 4px);
        }

        h3 {
            @include font('Charis-bold', 30px, 1px);
        }
    }

    @media (max-width:550px) {
        padding-bottom: 60%;

        h1 {
            @include font('Charis-bold', 50px, 3px);
        }

        h3 {
            @include font('Charis-bold', 30px, 1px);
        }
    }
}

.btn-danger {
    background: $primary;
}

.popular_tours {
    &_h2 {
        color: $primary;
        font-family: 'Charis-bold';
    }

    .card {
        font-family: 'Charis-regular';

        .card-img-hd {
            display: block;

            @media (max-width:1400px) {
                display: none;
            }

            @media (max-width:530px) {
                display: block;
            }

            @media (max-width:366px) {
                display: none;
            }

            @media (max-width:278px) {
                display: block;
            }
        }

        .card-img-not-hd {
            display: none;

            @media (max-width:1400px) {
                display: block;
            }

            @media (max-width:530px) {
                display: none;
            }

            @media (max-width:366px) {
                display: block;
            }

            @media (max-width:278px) {
                display: none;
            }
        }

        h4 {
            font-family: 'Charis-bold';

            @media(max-width:1200px) {
                font-size: 19px;
            }
        }

        .price {
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 5px;
            margin-top: 5px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $primary;
            border: 2px solid white;

            div {
                color: #fff;
                @include font('Charis-regular', 14px, 1px);

                span {
                    @include font('Charis-regular', 20px, 1px);
                }
            }
        }

        .card-body {
            min-width: 250px;

            .card-text {
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    a {
        font-family: 'Charis-regular';
    }
}

.btn_all_tours {
    width: 180px;

    svg {
        position: relative;
        transition: 0.5s all ease;
        left: 0;
    }

    &:hover {
        svg {
            left: 10px;
        }
    }

}

.weOffer {
    h2 {
        color: $primary;
        font-family: 'Charis-bold';
    }

    .accordion {

        width: 75%;

        @media(max-width:991px) {
            width: 100%;
        }

        .accordion-item {

            button {
                @include font('Charis-bold', 22px, 1px);

                @media(max-width:400px) {
                    @include font('Charis-bold', 18px, 1px);
                }
            }

            img {
                width: 70px;
                height: 70px;

                @media(max-width:320px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: $primary;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


.carousel {
    width: 900px;

    @media(max-width:1400px) {
        width: 700px;
    }

    @media(max-width:1200px) {
        width: 600px;
    }

    @media(max-width:991px) {
        width: 100%;
    }

    h2 {
        color: $primary;
        font-family: 'Charis-bold';
    }

    .carousel-item {

        img {
            border-radius: 30px 30px;
        }

        .card-img-hd {
            display: block !important;

            @media (max-width:550px) {
                display: none !important;
            }

            @media (max-width:400px) {
                display: block !important;
            }
        }

        .card-img-not-hd {
            display: none !important;

            @media (max-width:550px) {
                display: block !important;
            }

            @media (max-width:400px) {
                display: none !important;
            }
        }

        h5 {
            color: antiquewhite;
            @include font('Charis-bold', 30px, 1.2px);
        }

        p {
            color: antiquewhite;
            @include font('Charis-bold', 20px, 1px);
        }
    }
}