* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Charis-regular';
  src: url("fonts/CharisSIL.eot");
  src: url("fonts/CharisSIL.eot") format("embedded-opentype"), url("fonts/CharisSIL.woff2") format("woff2"), url("fonts/CharisSIL.woff") format("woff"), url("fonts/CharisSIL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Charis-bold';
  src: url("fonts/CharisSIL-Bold.eot");
  src: url("fonts/CharisSIL-Bold.eot") format("embedded-opentype"), url("fonts/CharisSIL-Bold.woff2") format("woff2"), url("fonts/CharisSIL-Bold.woff") format("woff"), url("fonts/CharisSIL-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  visibility: hidden;
}

.burger {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-menu {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Charis-bold';
}

.burger-menu div {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu div a {
  font-size: 25px;
  padding: 10px 0;
  color: #e40808;
  text-decoration: none;
}

.navbar {
  position: fixed;
  z-index: 5;
}

@media (max-width: 767px) {
  .navbar {
    position: relative;
  }
}

.navbar-links {
  font-family: "Charis-bold";
  font-size: 26px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #e40808;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.navbar-links:hover {
  color: #7e2929f1;
}

.logo img {
  width: 128.57143px;
  height: 65.71429px;
}

@media (max-width: 400px) {
  .logo img {
    display: none;
  }
}

.logo a {
  font-family: "Charis-bold";
  font-size: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #e40808;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.logo a:hover {
  color: #7e2929f1;
}

.bg-image {
  background: url(photo/signaghi2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: left center;
}

.tagline {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #e40808;
  padding-bottom: 20%;
}

.tagline h1 {
  font-family: "Charis-bold";
  font-size: 70px;
  letter-spacing: 5px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px #e40808;
}

.tagline h3 {
  font-family: "Charis-bold";
  font-size: 40px;
  letter-spacing: 1px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1.3px #e40808;
}

@media (max-width: 685px) {
  .tagline {
    padding-bottom: 40%;
  }
  .tagline h1 {
    font-family: "Charis-bold";
    font-size: 55px;
    letter-spacing: 4px;
  }
  .tagline h3 {
    font-family: "Charis-bold";
    font-size: 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 550px) {
  .tagline {
    padding-bottom: 60%;
  }
  .tagline h1 {
    font-family: "Charis-bold";
    font-size: 50px;
    letter-spacing: 3px;
  }
  .tagline h3 {
    font-family: "Charis-bold";
    font-size: 30px;
    letter-spacing: 1px;
  }
}

.btn-danger {
  background: #e40808;
}

.popular_tours_h2 {
  color: #e40808;
  font-family: 'Charis-bold';
}

.popular_tours .card {
  font-family: 'Charis-regular';
}

.popular_tours .card .card-img-hd {
  display: block;
}

@media (max-width: 1400px) {
  .popular_tours .card .card-img-hd {
    display: none;
  }
}

@media (max-width: 530px) {
  .popular_tours .card .card-img-hd {
    display: block;
  }
}

@media (max-width: 366px) {
  .popular_tours .card .card-img-hd {
    display: none;
  }
}

@media (max-width: 278px) {
  .popular_tours .card .card-img-hd {
    display: block;
  }
}

.popular_tours .card .card-img-not-hd {
  display: none;
}

@media (max-width: 1400px) {
  .popular_tours .card .card-img-not-hd {
    display: block;
  }
}

@media (max-width: 530px) {
  .popular_tours .card .card-img-not-hd {
    display: none;
  }
}

@media (max-width: 366px) {
  .popular_tours .card .card-img-not-hd {
    display: block;
  }
}

@media (max-width: 278px) {
  .popular_tours .card .card-img-not-hd {
    display: none;
  }
}

.popular_tours .card h4 {
  font-family: 'Charis-bold';
}

@media (max-width: 1200px) {
  .popular_tours .card h4 {
    font-size: 19px;
  }
}

.popular_tours .card .price {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e40808;
  border: 2px solid white;
}

.popular_tours .card .price div {
  color: #fff;
  font-family: "Charis-regular";
  font-size: 14px;
  letter-spacing: 1px;
}

.popular_tours .card .price div span {
  font-family: "Charis-regular";
  font-size: 20px;
  letter-spacing: 1px;
}

.popular_tours .card .card-body {
  min-width: 250px;
}

.popular_tours .card .card-body .card-text {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popular_tours a {
  font-family: 'Charis-regular';
}

.btn_all_tours {
  width: 180px;
}

.btn_all_tours svg {
  position: relative;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
}

.btn_all_tours:hover svg {
  left: 10px;
}

.weOffer h2 {
  color: #e40808;
  font-family: 'Charis-bold';
}

.weOffer .accordion {
  width: 75%;
}

@media (max-width: 992px) {
  .weOffer .accordion {
    width: 100%;
  }
}

.weOffer .accordion .accordion-item button {
  font-family: "Charis-bold";
  font-size: 22px;
  letter-spacing: 1px;
}

@media (max-width: 400px) {
  .weOffer .accordion .accordion-item button {
    font-family: "Charis-bold";
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.weOffer .accordion .accordion-item img {
  width: 70px;
  height: 70px;
}

@media (max-width: 320px) {
  .weOffer .accordion .accordion-item img {
    width: 50px;
    height: 50px;
  }
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #e40808;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/*# sourceMappingURL=css.css.map */